// src/assets/fonts.scss
@font-face {
    font-family: 'my-font-family';
    src: url('D:\\program\\vue\\moveRouter\\mikupanel\\mikupanel-vue\\src\\assets\\FiraCodeNerdFontMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }