// src/assets/fonts.scss
@font-face {
    font-family: 'my-font-family';
    src: url('~@/assets/FiraCodeNerdFontMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }